<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9zV5ocP5use8EAv2m1SCDjVtiYDxxuOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>344801642056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yungui.HWYU</string>
	<key>PROJECT_ID</key>
	<string>hwyu-b67d5</string>
	<key>STORAGE_BUCKET</key>
	<string>hwyu-b67d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344801642056:ios:eabc033f3fba53a5a77a7d</string>
	<key>DATABASE_URL</key>
	<string>https://hwyu-b67d5-default-rtdb.firebaseio.com</string>
</dict>
</plist>